APP_NAME = "recaply_ai"
APP_VERSION = "0.0.1"

# Paths
FILES_PATH = "storage/files"
DATABASES_PATH = "storage/databases"


# Database
MONGODB_URL = "mongodb://localhost:27007/"
MONGODB_DATABASE = "recaply"

# File size limits (MB)
MAX_AUDIO_SIZE_MB = 200
MAX_TEXT_SIZE_MB = 10
MAX_SUBTITLE_SIZE_MB = 20
MAX_PDF_SIZE_MB = 50

TO_BYTES = 1048576

# Chunking
CHUNK_OVERLAP = 10
CHUNK_MIN_SIZE = 210
CHUNK_MAX_SIZE = 400
CHUNKS_SIMILARITY_THRESHOLD = 0.7

# ========================= LLM Config =========================

OPENAI_API_URL="https://api.openai.com/v1"
OPENAI_API_KEY =  # insert your's
LANGSMITH_API_KEY = # insert your's


GENERATION_BACKEND = "OPENAI"
GENERATION_MODEL_ID = "openrouter/free"

EMBEDDING_BACKEND = "HF"
EMBEDDING_MODEL_ID = "all-MiniLM-L6-v2"
EMBEDDING_MODEL_SIZE = 384

# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND = "QDRANT"
VECTOR_DB_PATH = "qdrant"
VECTOR_DB_DISTANCE_METHOD = "cosine"


